// Default Variables
    containerWidth = 1200px
    gutterWidth = 40px

// Widths
    column = 70;
    margin = 15;
    max-width = (1170 + margin*2);

// Colours
    littleRed = #f05349
    darkGrey = #272727

// Responsive Breakpoints
    desktop = 960px
    tablet = 768px
    mobile = 568px

// Base Font Sizes
    base-font-size = 16
    base-line-height = 24
