.blog__listing {

    [class^='span'] {
        margin-bottom: 25px;
    }
    h2 {
        a {
            text-decoration: none;
            color: currentColor
        }
    }
}

.blog__content {
    font-size: 14px;

    span {
        a {
            text-decoration: none;
            color: currentColor;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.featured__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
    max-height: 500px;
    margin-bottom: 40px;
}
