html {
	box-sizing: border-box

}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	background: colorBg
	color: colorText
	font-family: fontFamily
	font-size: fontSize
	font-weight: fontWeight
	line-height: lineHeight
}

img {
	max-width: 100%
}
