// Utils - Contains global mixins, functions, helper selectors, etc.
@require 'utils/mixins'

// Base - Contains global styles, such as resets, typography, colors, etc.
@require 'base/constants'
@require 'base/reset'
@require 'base/typography'
@require 'base/base'
@require 'base/grid'

// Components - Contains each self-contained components i.e. Buttons
@require 'components/buttons'

// Layout - Contains styling for larger layout components; e.g. nav, header, footer, etc.
@require 'layout/footer'
@require 'layout/header'

// Pages - Contains page-specific styling, if necessary
@require 'pages/home'
