containerWidth = 1200px
gutterWidth = 40px

colorBg = #fff
colorText = #000

fontFamily = Helvetica, Arial, sans-serif
fontSize = 14px
fontWeight = 400
lineHeight = 1.5
    
base-font-size = 16
base-line-height = 24
