.button {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 2px solid currentColor;
    display: inline-block;
    text-align: center;
    shortTrans()

    @media(max-width: mobile) {
        width: 100%;
        margin-bottom: 15px;
    }

    &:hover {
        color: white;
        background: black;
        border: 2px solid black;
        shortTrans()
    }

    /**** START Rounded Button ****/
    &.rounded {
        border-radius: 30px;
    }
    /**** END Rounded Button ****/
}
